h1 {
    color: red;
}

.imgg {
    width: 100%;
    height: auto;
  }
  
.div1 {
  background-color: red;
  font-size: 4ch;
}

img {
    border-radius: 8px;
    width: 100%;
  }
  .divq {
    background-color: silver;
    border: 1px solid black;
    
  }

  .sc {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }